<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="="
      width="device-width,"
      initial-scale="1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <title>Orders Checkout Page</title>
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="../styles/cart.css" type="text/css" />

    <!-- External css -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bangers&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <%- include('partials/header') %>

    <div class="cart-banner">Cart Details</div>

    <div class="itemarea">
      <div class="cartview">
        <div class="itemdetails">
          <% for(let product in products) { %>

          <article class="cart">
            <div class="cartcontent">
              <img class="foodimage" cart image src=<%=
              products[product]["photo_url"] %> width="135" height="135" />
            </div>
            <div class="artcontent">
              <div class="prodname"><%= products[product]["name"] %></div>
              <div class="desc"><%= products[product]["description"] %></div>
              <div class="catog">
                Product Category: <%= products[product]["category"] %>
              </div>
              <div class="units">Price: $<%= products[product]["price"] %></div>

              <div class="actionfooter">
                <button class="buttonitem" type="submit">Delete</button>
                <button class="buttonitem" type="submit">Add</button>
              </div>
            </div>
          </article>
          <% } %>
        </div>
        <div class="accountsection">
          <div class="cartamounts">
            <div class="accountheader">Order Details</div>
            <div class="headernames">
              <div class="itemname">Item</div>
              <div class="units">Units</div>
              <div class="accountprice">Price</div>
              <div class="calories">Total Price</div>
            </div>
            <% for(let product in products) { %>
            <div class="itemaccounts">
              <div class="calories"><%= products[product]["name"] %></div>
              <div class="units">total units</div>
              <div class="price">$<%= products[product]["price"] %></div>
              <div class="calories">Total price</div>
            </div>
            <% } %>

            <div class="totalfinal">
              <div class="totalstring">Total: $</div>
            </div>
          </div>
          <div class="buttoncheckoutarea">
            <button class="buttoncheckout" type="submit">Checkout</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
