<!DOCTYPE html>
<html lang="en">

<head>
<title>Mike's Cereal Shack</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- External css -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/home.js"></script>
  <script type="text/javascript" src="/scripts/cart-button.js"></script>
</head>

<body>
  <header>
    <nav>

      <span>
        <a href="/" style="text-decoration: none; color: inherit;">Mike's Cereal Shack</a>
      </span>

      <% if(user){ %>

        <div class="buttons">
          <form class="logout-button" action="/api/login/logout" method="post">
          <button class="button-82-pushable" role="button" type="submit">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Logout
            </span>
          </form>

      <% } else{ %>

        <div class="buttons">
          <button class="button-82-pushable" role="button" onclick="window.location.href='/api/login'">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Login
            </span>

        <% } %>

      </button>
      <button class="button-82-pushable" role="button" onclick="window.location.href='/api/cart'">
        <span class="button-82-shadow"></span>
        <span class="button-82-edge"></span>
        <span class="button-82-front text">
          Cart
          <span class="cart-quantity">0</span>
        </span>
      </button>

      <% if(user){ %>

        <% if(user.role === 'admin'){ %>

        <button class="button-82-pushable" role="button" onclick="window.location.href='/api/orders/admin'">
          <span class="button-82-shadow"></span>
          <span class="button-82-edge"></span>
          <span class="button-82-front text">
            Orders
          </span>
        </button>

        <style>

          .cart-quantity {
            display: none;
          }
          </style>

        <% } else{ %>

          <button class="button-82-pushable" role="button" onclick="window.location.href='/api/orders'">
            <span class="button-82-shadow"></span>
            <span class="button-82-edge"></span>
            <span class="button-82-front text">
              Orders
            </span>
          </button>

        <% } %>
      <% } %>




    </div>

    </nav>

    </header>

  <div class="banner">
    Welcome to Mike's Cereal Shack!
    </div>

  <div id="page-container">
    <div id="content-wrap">
  <main>

<div class="products">
  <% for(let product in products) { %>
  <div class="product">

  <div class="product-name">
    <%= products[product]["name"] %>
  </div>

  <div class="product-image">
    <img class="foodimage" cart image src=<%=
    products[product]["photo_url"] %> width="135" height="135" />
  </div>

  <div class="description">

  <p class="description-text"><%= products[product]["description"] %></p>

</div>

<div class="price-div">
<span class="price">Price: $<%= products[product]["price"] %></span>
<% if(user){ %>

  <% if(user.role === 'user'){ %>
<form class="add-to-cart" action ="/" method="POST">
  <button class="buttonitem add-to-cart-button" data-id="<%= products[product].id %>" data-name ="<%= products[product].name %>" type="submit">Add to Cart</button>
</form>
<% } else{ %>
  <button class="buttonitem">Add to Cart</button>

<% } %>
<% } %>


</div>

</div>
<% } %>
</div>


</main>

</div>

<footer>
<span>&copy; Established in 2022</span>
<div class="footer-buttons">
  <div class="footer-buttons">
    <span>
        <a href="/api/login" style="text-decoration: none; color: inherit;">Login</a>
      </span>

      <span>
        <a href="/api/cart" style="text-decoration: none; color: inherit;">Cart</a>
      </span>

      <span>
        <a href="/api/orders" style="text-decoration: none; color: inherit;">Orders</a>
      </span>

  </div>
  </footer>
</div>
</body>


</html>
