<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mike's Cereal Shack!</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/orders.scss" type="text/css" />
  <link rel="stylesheet" href="/styles/orders.css" type="text/css" />

  <!-- External css -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <%- include('partials/header') %>
  <div class="orders-banner">
    Orders
  </div>

<div id="page-container">

  <div id="content-wrap">

<main>

<div class="orders">

  <% for(let order in orders) { %>

  <div class="order1">

    <div class="order-details-block">

      <div class="order-sub-block1">

        <div class="order-number">
          <span>Order No.</span>
          <h1><%= orders[order]["id"] %></h1>
        </div>

        <div class="details">
          <p><b><u>Details</u></b></p>
          <% for(let items of lineItems) { %>
            <% if (items.order_id === orders[order]['id']) { %>
              <p><%= items.name %> x <%= items.quantity %></p>
            <% } %>
          <% } %>
        </div>
    </div>

    <div class="order-sub-block2">

      <div class="status">
        <span>status</span>
        <p><%= orders[order]["status"] %></p>
      </div>

      <div class="too">
        <span>time of order</span>
        <p type="date" class="date-ordered"><%= orders[order]["created_at"].toLocaleDateString("en-US") %></p>
      </div>

    </div>

</div>



<!-- <div class="order-track-block">
<div class="track-button">
<button class="button-37" role="button">Track</button> -->
</div>
  <% } %>
</main>
</div>


<footer>
  <span>&copy; Established in 2022</span>
  <div class="footer-buttons">
    <span>
      Login
    </span>

    <span>
      Cart
    </span>

    <span>
      Orders
    </span>

  </div>
</footer>
</div>
    </div>
</body>
</html>
